body {
    margin: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background: #fafafa;
    line-height: 1.75;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

.logo {
    font-weight: 600;
}

.headerButtonsContainer {
    height: 100%;
    display: flex;
    align-items: center;
}

.headerButton {
    text-decoration: none;
    padding: 0 1.5rem;
    color: #111;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.headerButton:hover {
    background: #eee;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    flex-wrap: wrap-reverse;
}

.homeInfoContainer {
    display: flex;
    gap: 5rem;
    max-width: 70%;
}

.imageContainer > img {
    height: 17rem;
    border-radius: 50%;
}

.imageContainer {
    display: flex;
    align-items: center;
}

.infoContainer {
    display: flex;
    flex-direction: column;
}

.homeHeading {
    font-size: 2.25rem;
    color: black;
    font-weight: 700;
}

.homeDescription {
    font-size: 1.25rem;
    font-weight: 400;
    color: #333;
    margin: 0.5rem 0;
}

.bold {
    font-weight: 600;
    color: black;
}

.homeButtonContainer {
    margin-top: 1rem;
}

.homeButton {
    text-decoration: none;
    color: black;
    position: relative;
    padding-bottom: -1rem;
}

.homeButton::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 50%;
    height: 1px;
    background: grey;
    transition: all 0.2s ease-in-out;
}

.homeButton:hover::after {
    width: 100%;
    background: black;
}

.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    display: flex;
    font-size: 2rem;
    margin: 0;
}

.timelineContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.timelineBox {
    position: relative;
    display: flex;
    background: white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    gap: 3rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    width: 60%;
    justify-content: space-between;
}

.timelineBox::before {
    content: '';
    position: absolute;
    top: 0;
    left: -2rem;
    height: 1rem;
    width: 1rem;
    /* border-radius: 50%; */
    background: #111;
    border-radius: 0.15rem;
}

.timelineBlock {
    position: relative;
    display: flex;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
    justify-content: center;
}


.timelineHeading {
    font-size: 1.25rem;
    margin: 0;
}

.timelineImage {
    height: 5rem;
    border-radius: 50%;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}

.projectsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projectArea {
    display: flex;
    justify-content: center;
    max-width: 90%;
    gap: 5rem;
    margin: 2rem;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.projectReverse {
    flex-direction: row-reverse;
}

.projectHeading {
    font-size: 2rem;
    margin: 1rem 0;
}

.projectImageContainer {
    flex: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-radius: 1rem;
}

.projectImage {
    height: 16rem;
    border-radius: 1rem;
}

.projectInfo {
    flex: 0.4;
    flex-grow: 1;
}

.bachatContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background: black;
    height: 16rem;
    width: 32rem;
}

.bachat {
    height: 3rem; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectSkills {
    display: flex;
    margin: 1rem 0;

}

.projectSkill {
    padding: 0.25rem 1.25rem;
    background: black;
    color: white;
    margin-right: 0.5rem;
    border-radius: 0.25rem;
}

.playButton {
    padding: 0.25rem 2rem;
    border: 2px solid black;
    margin-top: 2rem;
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.playButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: black;
    transition: all 0.2s ease-in-out;
    z-index: -1;
}

.playButton:hover::before{
    width: 100%;
}

.playButton:hover {
    color: white;
}

.projectDescription {
    margin-bottom: 1rem;
    font-size: 1.15rem;
}

#myCanvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    z-index: -40;
}

@media (max-width: 1100px) {
    .imageContainer  {
        display: none;
    }
}

@media (max-width: 600px) {
    .bachatContainer {
        width: 30rem;
    }

    .projectImage {
        width: 30rem;
    }
}

@media (max-width: 550px) {
    header {
        display: none;
    }

    .home {
        height: auto;
    }

    .bachatContainer {
        width: 25rem;
    }

    .projectImage {
        width: 25rem;
    }
}

@media (max-width: 470px) {
    .bachatContainer {
        width: 20rem;
    }

    .projectImage {
        width: 20rem;
    }
}